/* STYLE UNTUK HALAMAN INDEX */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Form */
.main {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  max-width: 25rem;
  padding: 4rem 6rem;
  background-color: whitesmoke;
  opacity: 90%;
  border-radius: 10%;
}

.main .profil-img img {
  width: 10rem;
}

.main .login-input label {
  display: block;
  text-align: start;
  font-weight: 300;
}

.main .login-input input {
  width: 100%;
  padding: 0.2rem;
  border-radius: 3%;
  border: 1px solid #a0a0a0;
  margin-bottom: 0.5rem;
}

.main .login-input button {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 50%;
  cursor: pointer;
  background-color: blue;
  color: whitesmoke;
}

.main .login-input button:hover {
  opacity: 80%;
}
